@import url('colors.css');
@import url('eltiempo.min.css');
/* Tipografías */
@font-face {
  font-family: 'SF-Pro-Display-Regular';
  src:  url('../webfonts/SF-Pro-Display-Regular.otf');
}
@font-face {
  font-family: 'SF-Pro-Display-Bold';
  src:  url('../webfonts/SF-Pro-Display-Bold.otf');
}
.sf-pro{
	font-family: 'SF-Pro-Display-Regular';
}
.sf-pro-bold{
	font-family: 'SF-Pro-Display-Bold'
}
/* Paleta Guía*/
.shape-solid{
	width: 70px;
	height: 70px;
	border-radius: 5px;
}
.shape-degree-lg{
	width: 218px;
	height: 70px;
	border-radius: 5px;
}
.shape-degree-md{
	width: 144px;
	height: 70px;
	border-radius: 5px;
}

/* Colores guia*/
.cM-solid-cyan{	color: var(--cm-cyan);}
.cM-solid-pink, a.cM-solid-pink{	color: var(--cm-pink); text-decoration: none;}
.cM-solid-pink-30{	color: rgba(251,46,86,.3);}
.cM-solid-dark{	color: var(--cm-dark);}
.concertMapp-solid-cyan{	background: var(--cm-cyan);}
.concertMapp-solid-pink{	background: var(--cm-pink);}
.concertMapp-solid-pink-10{	background: rgba(251,46,86,.1);}
.concertMapp-solid-dark{	background:var(--cm-dark);}
.concertMapp-degree-cyan{	background: linear-gradient(90deg, #32D3FF 14.87%, #09B6B6 100.05%);}
.concertMapp-degree-pink{	background: linear-gradient(136.13deg, #FD6559 15.89%, #FB2E56 99.14%);}
.concertMapp-degree-dark{	background: linear-gradient(166.36deg, #21404B -9.47%, var(--cm-dark) 115.48%);}
@media (max-width: 576px) { 
	.shape-solid{
		width: 33%;
		height: 100px;
		border-radius: 5px;
	}
	.shape-degree-lg{
		width: 100%;
		height: 100px;
		border-radius: 5px;
	}
	.shape-degree-md{
		width: 67%;
		height: 100px;
		border-radius: 5px;
	}
	.rrss-mobile{
	
		background-color: #0E1C214a;
	}
}
