@import url(colors.css);
/* Tipografías */
@font-face {
  font-family: 'Bromello-Regular';
  src:  url('../webfonts/bromello-Regular.otf');
	src:  url('../webfonts/bromello-Regular.ttf');
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.bromello{
	font-family: 'Bromello';
}
.roboto{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}
/* Paleta Guía*/
.shape-solid{
	width: 90px;
	height: 90px;
	border-radius: 45px;
}

/* Colores guia */
.bg-wm-red{background-color: var(--wm-red);}
.bg-wm-cyan{background-color: var(--wm-cyan);}


.wm-degree-red{	background: linear-gradient(136.13deg, #ff1563 15.89%, var(--wm-red); 99.14%);}

.color-wm-red{color: var(--wm-red);}
.color-wm-gray{color: var(--wm-gray);}
@media (max-width: 576px) { 
	.shape-solid{
		width: 70px;
		height: 70px;
		border-radius: 35px;
	}
	.rrss-mobile{
	
		background-color: #e013504a;

	}

}
